<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}

<body>
  <h1 class="text-3xl font-bold text-center mb-4 mt-8">Assassins - {{ game.name }} </h1>
  <div class="text-center mb-4">
    {% if user %}
    <span>Welcome, <i>{{ user.username }}</i></span>
    <br />
    {% if user.eliminated %}
    <i class="text-red-500"> You have been eliminated :(</i>
    {% elif target %}
    <span> Your target is: <i>{{ target.username }}</i></span>
    {% endif %}
    {% endif %}
    <br />
    {% if not game.started %}
    <i class="font-light underline">The game is still accepting players</i>
    {% if user and user.id == game.owner %}
    <form action="{{ url_for('game.start_game_handler', game_id_param=id )}}" method="post">
      <button type="submit"
        class="mt-2 shadow shadow-gray-700 bg-blue-500 font-bold text-white p-2 duration-100 hover:cursor-pointer hover:bg-blue-700 rounded">
        Start Game
      </button>
    </form>
    {% endif %}
    {% endif %}
  </div>
  <div class="flex flex-row flex-wrap justify-center mb-16 gap-8 px-16">
    <form action="{{ url_for('game.login_post_handler', game_id_param=id )}}" method="post"
      class="border border-slate-200 shadow p-8 rounded flex flex-col">
      <label for="username" class="font-light mb-1">Username</label>
      <input id="username" autocomplete="off" type="text" name="username" pattern="^[A-z]{3,}$"
        class="border border-slate-300 p-1 text-gray-800 mb-4 shadow shadow-gray-400 rounded w-48 focus:outline-none" />
      {% with messages = get_flashed_messages(False, "username") %}
      {% for message in messages %}
      <i class="wrap-normal text-xs font-light w-48 text-red-900 mb-4">{{ message }}</i>
      {% endfor %}
      {% endwith %}
      <label for="pwd" class="font-light mb-1">Password</label>
      <input id="pwd" type="password" name="password"
        class="border border-slate-300 p-1 text-gray-800 mb-4 shadow shadow-gray-400 rounded w-48 focus:outline-none" />
      {% with messages = get_flashed_messages(False, "password") %}
      {% for message in messages %}
      <i class="wrap-normal text-xs font-light mb-4 w-48 text-red-900">{{ message }}</i>
      {% endfor %}
      {% endwith %}
      <button type="submit"
        class="shadow shadow-gray-700 bg-blue-500 font-bold text-white p-2 duration-100 hover:cursor-pointer hover:bg-blue-700 rounded">
        Log In </button>
      {% with messages = get_flashed_messages(False, "sign-in") %}
      {% for message in messages %}
      <i class="wrap-normal text-xs font-light w-48 text-red-900">{{ message }}</i>
      {% endfor %}
      {% endwith %}
    </form>
    <div>
      <h2 class="font-bold text-xl mb-2">Announcements</h2>
      <div class="border border-slate-200 shadow p-4 rounded w-76 text-gray-800">
        {% if game.announcement %}
        <p class="whitespace-pre-line">{{ game.announcement }}</p>
        {% else %}
        <i class="text-sm text-gray-600">There are no announcements at this time</i>
        {% endif %}
        {% if user and user.id == game.owner %}
        <form class="mt-2" action="{{url_for('game.set_announcement_handler', game_id_param=id)}}" method="post">
          <textarea rows="3" name="msg"
            class="border border-slate-300 p-1 mb-4 shadow shadow-gray-400 rounded w-full focus:outline-none"></textarea>
          <button type="submit"
            class="shadow shadow-gray-700 bg-blue-500 font-bold text-white p-2 duration-100 hover:cursor-pointer hover:bg-blue-700 rounded">
            Update </button>
        </form>
        {% endif %}
      </div>
    </div>
    <div>
      <h2 class="font-bold text-xl mb-2">Leaderboard</h2>
      <table class="border border-slate-200 shadow rounded">
        <thead class="text-left border-b-slate-300 border-b">
          <th class="p-4">Player</th>
          <th class="p-4">Eliminations</th>
          {% if user.id == game.owner %}
          <th class="p-4">Actions</th>
          {% endif %}
        </thead>
        <tbody>
          {% for u in users %}
          <tr class="even:bg-slate-200">
            <td class="p-2">
              {% if u.eliminated %}<s>{% endif%}
                {{ u.username }}
                {% if u.eliminated %}</s>{% endif%}
            </td>
            <td class="p-2 text-right">
              {{ u.elimination_count }}
            </td>
            {% if user and user.id == game.owner and not game.started %}
            <td class="p-2">
              <form action="{{ url_for('game.remove_user_handler', game_id_param=id )}}" method="post">
                <input type="hidden" name="user_id" value="{{u.id}}" />
                <button type="submit"
                  class="text-white rounded bg-gray-600 py-1 px-2 hover:cursor-pointer hover:bg-gray-700 duration-100">
                  Remove
                </button>
              </form>
            </td>
            {% elif user and user.id == game.owner %}
            <td class="flex gap-1 p-2">
              {% if game.started and not u.eliminated %}
              <form action="{{ url_for('game.eliminate_user_target_handler', game_id_param=id )}}" method="post">
                <input type="hidden" name="user_id" value="{{u.id}}" />
                <input type="hidden" name="elim_count" value="1" />
                <button type="submit"
                  class="text-white rounded bg-red-700 py-1 px-2 hover:cursor-pointer hover:bg-red-900 duration-100">Eliminate</button>
              </form>
              <form action="{{ url_for('game.eliminate_user_target_handler', game_id_param=id )}}" method="post">
                <input type="hidden" name="user_id" value="{{u.id}}" />
                <input type="hidden" name="elim_count" value="0" />
                <button type="submit"
                  class="text-white rounded bg-gray-600 py-1 px-2 hover:cursor-pointer hover:bg-gray-700 duration-100">Forfeit</button>
              </form>
              {% endif %}
            </td>
            {% endif %}
            {% endfor %}
          </tr>
        </tbody>
      </table>
      <ul>
      </ul>
    </div>
  </div>
  {% include "footer.html" %}
</body>


</html>
