<!DOCTYPE html>
<html lang="en">

{% include "header.html" %}

<body>
  <h1 class="text-3xl font-bold text-center mb-4 mt-8">Assassins</h1>
  <form action="/games" method="post" class="ml-auto mb-16 mr-auto w-fit">
    <input id="name" type="text" name="name"
      class="p-2 border border-slate-300 shadow shadow-gray-400 rounded w-48 focus:outline-none"
      placeholder="Game Name" />
    <button type="submit"
      class="shadow shadow-gray-700 bg-blue-500 font-bold text-white p-2 duration-100 hover:cursor-pointer hover:bg-blue-700 rounded ml-auto">New
      Game</button>
  </form>
  {% include "footer.html" %}
</body>

</html>
