<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Assassins</title>
  <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
</head>

<body>
  <h1>Assassins - Create Game</h1>
  <form action="/games" method="post">
    <input type="text" name="name" />
    <button type="submit">Create New Game</button>
  </form>
  <ul>
    {% for game in games %}
    <li>{{game.name}}</li>
    {% endfor %}
  </ul>
</body>

</html>
